<!DOCTYPE html>
<html>
	<head>
		<title>登录界面</title>

		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="this is my page">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link href="./css/login.css" rel="stylesheet" type="text/css" />
	<body>
		<div class="bg">
			<div class="form">
					<table class="data_table">
						<tbody>
							<tr>
								<td>
									$!msg
								</td>
							</tr>
							<tr>
								<td>
									<button type="button" onclick="window.close();">
										确认
									</button>
								</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
	</body>

</html>
